@import url('https://fonts.googleapis.com/css2?family=Smokum&family=Zen+Loop&display=swap');


.about {
    font-family: 'Zen Loop', cursive;
    font-size: 2em;
    text-align: center;
    width: 100%;
    height: auto;
}


.navcont {
    display: flex;
    justify-content: center;
    margin-top: 20px;
 
  }
  
  .nav{
    display: inline-block;
    padding: 10px;
    font-size: 1em;
    color: rgb(174, 136, 168);
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
   
  }

  .title {
    margin-top: 95px;
    display: flex;
    flex: 1;
    padding: 1rem 0;
    border-bottom: 1px solid lightgrey;
    justify-content: center;
    align-items: center;
  }
    
  

  .text {
    min-height: 10vh;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1em;
    text-align: center;
  }

  .footer {
    font-size: .5em;
    
  }

  