.container {
  padding: 0 2rem;
}

.main {
  min-height: 75vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.footer {
  display: flex;
  flex: 1;
  padding: 2.5rem 0; 
  border-top: 1px solid lightgrey;
  justify-content: center;
  align-items: center;
  color: rgb(174, 136, 168);
  font-family: 'Courier New', Courier, monospace;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.logo {
  color:black;
}
.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(0);
    padding:2px;
  }
}

.navcont {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav{
  display: inline-block;
  padding: 10px;
  font-size: 1em;
  color: rgb(174, 136, 168);
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  font-family: 'Zen Loop', cursive;
  font-size: 2em;
 
}

.btn {
  position: relative;
  height: 60px;
  width: 250px;
  transform-style: preserve-3d;
  transition: transform 300ms ease-in-out;
  transform: translateZ(-75px);
}

.btn:hover {
  transform: rotateX(-90deg) translateY(35px);
}


.default{
  background-color: rgb(232, 191, 226);
  border: 2px solid rgb(238, 240, 242);
  border-radius:5px;
  color: rgb(6, 5, 7);
  transform: translateZ(25px);
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7em;
  font-weight: bold;
}

.hover{
  color: rgb(244, 245, 239);
  border: 2px solid rgb(230, 232, 233);
  border-radius:5px;
  background-color: rgb(91, 68, 100);
  transform: rotateX(90deg) translateZ(35px);
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7em;
  font-weight: bold;
}

.wrapper {
  width: 100%;
  height: 80%; 
 display:flex;
   justify-content: center;
  align-items: center;  
  perspective: 800px;
 
}  




